---
// Blossoming Flower Animation Component
// Credit: Md Usman Ansari
---

<div class="flower-grid-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="750">
  <div class="flower-animation-container">
    <div class="flowers">
      <div class="flower flower--1">
        <div class="flower__leafs flower__leafs--1">
          <div class="flower__leaf flower__leaf--1"></div>
          <div class="flower__leaf flower__leaf--2"></div>
          <div class="flower__leaf flower__leaf--3"></div>
          <div class="flower__leaf flower__leaf--4"></div>
          <div class="flower__white-circle"></div>
          <div class="flower__light flower__light--1"></div>
          <div class="flower__light flower__light--2"></div>
          <div class="flower__light flower__light--3"></div>
          <div class="flower__light flower__light--4"></div>
          <div class="flower__light flower__light--5"></div>
          <div class="flower__light flower__light--6"></div>
          <div class="flower__light flower__light--7"></div>
          <div class="flower__light flower__light--8"></div>
        </div>
        <div class="flower__line">
          <div class="flower__line__leaf flower__line__leaf--1"></div>
          <div class="flower__line__leaf flower__line__leaf--2"></div>
          <div class="flower__line__leaf flower__line__leaf--3"></div>
          <div class="flower__line__leaf flower__line__leaf--4"></div>
          <div class="flower__line__leaf flower__line__leaf--5"></div>
          <div class="flower__line__leaf flower__line__leaf--6"></div>
        </div>
      </div>

      <div class="grow-ans" style="--d:1.2s">
        <div class="flower__g-long">
          <div class="flower__g-long__top"></div>
          <div class="flower__g-long__bottom"></div>
        </div>
      </div>

      <div class="growing-grass">
        <div class="flower__grass flower__grass--1">
          <div class="flower__grass--top"></div>
          <div class="flower__grass--bottom"></div>
          <div class="flower__grass__leaf flower__grass__leaf--1"></div>
          <div class="flower__grass__leaf flower__grass__leaf--2"></div>
          <div class="flower__grass__leaf flower__grass__leaf--3"></div>
          <div class="flower__grass__leaf flower__grass__leaf--4"></div>
          <div class="flower__grass__leaf flower__grass__leaf--5"></div>
          <div class="flower__grass__leaf flower__grass__leaf--6"></div>
          <div class="flower__grass__leaf flower__grass__leaf--7"></div>
          <div class="flower__grass__leaf flower__grass__leaf--8"></div>
          <div class="flower__grass__overlay"></div>
        </div>
      </div>

      <div class="grow-ans" style="--d:2.4s">
        <div class="flower__g-right flower__g-right--1">
          <div class="leaf"></div>
        </div>
      </div>

      <div class="grow-ans" style="--d:2.8s">
        <div class="flower__g-front">
          <div class="flower__g-front__leaf-wrapper flower__g-front__leaf-wrapper--1">
            <div class="flower__g-front__leaf"></div>
          </div>
          <div class="flower__g-front__leaf-wrapper flower__g-front__leaf-wrapper--2">
            <div class="flower__g-front__leaf"></div>
          </div>
          <div class="flower__g-front__leaf-wrapper flower__g-front__leaf-wrapper--3">
            <div class="flower__g-front__leaf"></div>
          </div>
          <div class="flower__g-front__leaf-wrapper flower__g-front__leaf-wrapper--4">
            <div class="flower__g-front__leaf"></div>
          </div>
          <div class="flower__g-front__line"></div>
        </div>
      </div>
    </div>
    
    <!-- Credit overlay on hover -->
    <div class="flower-credit">
      <p>Animation by Md Usman Ansari</p>
    </div>
  </div>
</div>

<style>
  .flower-grid-item {
    position: relative;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flower-animation-container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .flower-animation-container:hover {
    transform: scale(1.05);
  }

  /* Credit overlay */
  .flower-credit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    z-index: 100;
  }

  .flower-animation-container:hover .flower-credit {
    opacity: 1;
  }

  /* Flower animation styles */
  .flowers {
    position: relative;
    transform: scale(0.25);
    transform-origin: bottom center;
  }

  .flower {
    position: absolute;
    bottom: 5vmin;
    transform-origin: bottom center;
    z-index: 10;
    --fl-speed: 0.8s;
    animation: moving-flower-1 4s linear infinite;
  }

  .flower__leafs {
    position: relative;
    animation: blooming-flower 2s backwards;
    animation-delay: 0.8s;
  }

  .flower__leafs::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -100%);
    width: 8vmin;
    height: 8vmin;
    background-color: #6bf0ff;
    filter: blur(10vmin);
  }

  .flower__leaf {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 8vmin;
    height: 11vmin;
    border-radius: 51% 49% 47% 53% / 44% 45% 55% 69%;
    background-color: #a7ffee;
    background-image: linear-gradient(to top, #54b8aa, #a7ffee);
    transform-origin: bottom center;
    opacity: 0.9;
    box-shadow: inset 0 0 2vmin rgba(255, 255, 255, 0.5);
  }

  .flower__leaf--1 {
    transform: translate(-10%, 1%) rotateY(40deg) rotateX(-50deg);
  }

  .flower__leaf--2 {
    transform: translate(-50%, -4%) rotateX(40deg);
  }

  .flower__leaf--3 {
    transform: translate(-90%, 0%) rotateY(45deg) rotateX(50deg);
  }

  .flower__leaf--4 {
    width: 8vmin;
    height: 8vmin;
    transform-origin: bottom left;
    border-radius: 4vmin 10vmin 4vmin 4vmin;
    transform: translate(-0%, 18%) rotateX(70deg) rotate(-43deg);
    background-image: linear-gradient(to top, #39c6d6, #a7ffee);
    z-index: 1;
    opacity: 0.8;
  }

  .flower__white-circle {
    position: absolute;
    left: -3.5vmin;
    top: -3vmin;
    width: 9vmin;
    height: 4vmin;
    border-radius: 50%;
    background-color: #fff;
  }

  .flower__white-circle::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    border-radius: inherit;
    background-image: linear-gradient(90deg, rgb(255, 235, 18), rgb(255, 206, 0));
  }

  .flower__line {
    height: 55vmin;
    width: 1.5vmin;
    background-image: linear-gradient(
        to left,
        rgb(0, 0, 0, 0.2),
        transparent,
        rgba(255, 255, 255, 0.2)
      ),
      linear-gradient(to top, transparent 10%, #14757a, #39c6d6);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    animation: grow-flower-tree 4s backwards;
  }

  .flower__line__leaf {
    --w: 7vmin;
    --h: calc(var(--w) + 2vmin);
    position: absolute;
    top: 20%;
    left: 90%;
    width: var(--w);
    height: var(--h);
    border-top-right-radius: var(--h);
    border-bottom-left-radius: var(--h);
    background-image: linear-gradient(to top, rgba(20, 117, 122, 0.4), #39c6d6);
  }

  .flower__line__leaf--1 {
    transform: rotate(70deg) rotateY(30deg);
    animation: blooming-leaf-right var(--fl-speed) 1.6s backwards;
  }

  .flower__line__leaf--2 {
    top: 45%;
    transform: rotate(70deg) rotateY(30deg);
    animation: blooming-leaf-right var(--fl-speed) 1.4s backwards;
  }

  .flower__line__leaf--3,
  .flower__line__leaf--4,
  .flower__line__leaf--6 {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: var(--h);
    border-bottom-right-radius: var(--h);
    left: -460%;
    top: 12%;
    transform: rotate(-70deg) rotateY(30deg);
    animation: blooming-leaf-left var(--fl-speed) 1.2s backwards;
  }

  .flower__line__leaf--4 {
    top: 40%;
    animation: blooming-leaf-left var(--fl-speed) 1s backwards;
  }

  .flower__line__leaf--5 {
    top: 0;
    transform-origin: left;
    transform: rotate(70deg) rotateY(30deg) scale(0.6);
    animation: blooming-leaf-right var(--fl-speed) 1.8s backwards;
  }

  .flower__line__leaf--6 {
    top: -2%;
    left: -450%;
    transform-origin: right;
    transform: rotate(-70deg) rotateY(30deg) scale(0.6);
    animation: blooming-leaf-left var(--fl-speed) 2s backwards;
  }

  .flower__light {
    position: absolute;
    bottom: 0vmin;
    width: 1vmin;
    height: 1vmin;
    background-color: rgb(255, 251, 0);
    border-radius: 50%;
    filter: blur(0.2vmin);
    animation: light-ans 4s linear infinite backwards;
  }

  .flower__light:nth-child(odd) {
    background-color: #23f0ff;
  }

  .flower__light--1 { left: -2vmin; animation-delay: 1s; }
  .flower__light--2 { left: 3vmin; animation-delay: 0.5s; }
  .flower__light--3 { left: -6vmin; animation-delay: 0.3s; }
  .flower__light--4 { left: 6vmin; animation-delay: 0.9s; }
  .flower__light--5 { left: -1vmin; animation-delay: 1.5s; }
  .flower__light--6 { left: -4vmin; animation-delay: 3s; }
  .flower__light--7 { left: 3vmin; animation-delay: 2s; }
  .flower__light--8 { left: -6vmin; animation-delay: 3.5s; }

  .flower__grass {
    --c: #159faa;
    --line-w: 1.5vmin;
    position: absolute;
    bottom: 12vmin;
    left: -7vmin;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 20;
    transform-origin: bottom center;
    transform: rotate(-48deg) rotateY(40deg);
    animation: moving-grass 2s linear infinite;
  }

  .flower__grass--top {
    width: 7vmin;
    height: 10vmin;
    border-top-right-radius: 100%;
    border-right: var(--line-w) solid var(--c);
    transform-origin: bottom center;
    transform: rotate(-2deg);
  }

  .flower__grass--bottom {
    margin-top: -2px;
    width: var(--line-w);
    height: 25vmin;
    background-image: linear-gradient(to top, transparent, var(--c));
  }

  .flower__grass__leaf {
    --size: 10vmin;
    position: absolute;
    width: calc(var(--size) * 2.1);
    height: var(--size);
    border-top-left-radius: var(--size);
    border-top-right-radius: var(--size);
    background-image: linear-gradient(to top, transparent, transparent 30%, var(--c));
    z-index: 100;
  }

  .flower__grass__leaf--1 {
    top: -6%;
    left: 30%;
    --size: 6vmin;
    transform: rotate(-20deg);
    animation: growing-grass-ans--1 2s 2.6s backwards;
  }

  .flower__grass__leaf--2 {
    top: -5%;
    left: -110%;
    --size: 6vmin;
    transform: rotate(10deg);
    animation: growing-grass-ans--2 2s 2.4s linear backwards;
  }

  .flower__grass__leaf--3 {
    top: 5%;
    left: 60%;
    --size: 8vmin;
    transform: rotate(-18deg) rotateX(-20deg);
    animation: growing-grass-ans--3 2s 2.2s linear backwards;
  }

  .flower__grass__leaf--4 {
    top: 6%;
    left: -135%;
    --size: 8vmin;
    transform: rotate(2deg);
    animation: growing-grass-ans--4 2s 2s linear backwards;
  }

  .flower__grass__leaf--5 {
    top: 20%;
    left: 60%;
    --size: 10vmin;
    transform: rotate(-24deg) rotateX(-20deg);
    animation: growing-grass-ans--5 2s 1.8s linear backwards;
  }

  .flower__grass__leaf--6 {
    top: 22%;
    left: -180%;
    --size: 10vmin;
    transform: rotate(10deg);
    animation: growing-grass-ans--6 2s 1.6s linear backwards;
  }

  .flower__grass__leaf--7 {
    top: 39%;
    left: 70%;
    --size: 10vmin;
    transform: rotate(-10deg);
    animation: growing-grass-ans--7 2s 1.4s linear backwards;
  }

  .flower__grass__leaf--8 {
    top: 40%;
    left: -215%;
    --size: 11vmin;
    transform: rotate(10deg);
    animation: growing-grass-ans--8 2s 1.2s linear backwards;
  }

  .flower__grass__overlay {
    position: absolute;
    top: -10%;
    right: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    filter: blur(1.5vmin);
    z-index: 100;
  }

  .flower__g-long {
    --w: 2vmin;
    --h: 6vmin;
    --c: #159faa;
    position: absolute;
    bottom: 10vmin;
    left: -3vmin;
    transform-origin: bottom center;
    transform: rotate(-30deg) rotateY(-20deg);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    animation: flower-g-long-ans 3s linear infinite;
  }

  .flower__g-long__top {
    top: calc(var(--h) * -1);
    width: calc(var(--w) + 1vmin);
    height: var(--h);
    border-top-right-radius: 100%;
    border-right: 0.7vmin solid var(--c);
    transform: translate(-0.7vmin, 1vmin);
  }

  .flower__g-long__bottom {
    width: var(--w);
    height: 50vmin;
    transform-origin: bottom center;
    background-image: linear-gradient(to top, transparent 30%, var(--c));
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
    clip-path: polygon(35% 0, 65% 1%, 100% 100%, 0% 100%);
  }

  .flower__g-right {
    position: absolute;
    bottom: 6vmin;
    left: -2vmin;
    transform-origin: bottom left;
    transform: rotate(20deg);
    animation: flower-g-right-ans 2.5s linear infinite;
  }

  .flower__g-right .leaf {
    width: 30vmin;
    height: 50vmin;
    border-top-left-radius: 100%;
    border-left: 2vmin solid #079097;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8) 60%);
    -webkit-mask-image: linear-gradient(to top, transparent 30%, #079097 60%);
  }

  .flower__g-front {
    position: absolute;
    bottom: 6vmin;
    left: 2.5vmin;
    z-index: 100;
    transform-origin: bottom center;
    transform: rotate(-28deg) rotateY(30deg) scale(1.04);
    animation: flower__g-front-ans 2s linear infinite;
  }

  .flower__g-front__line {
    width: 0.3vmin;
    height: 20vmin;
    background-image: linear-gradient(to top, transparent, #079097, transparent 100%);
    position: relative;
  }

  .flower__g-front__leaf-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: bottom left;
    transform: rotate(10deg);
  }

  .flower__g-front__leaf-wrapper:nth-child(even) {
    left: 0vmin;
    transform: rotateY(-180deg) rotate(5deg);
    animation: flower__g-front__leaf-left-ans 1s ease-in backwards;
  }

  .flower__g-front__leaf-wrapper:nth-child(odd) {
    animation: flower__g-front__leaf-ans 1s ease-in backwards;
  }

  .flower__g-front__leaf-wrapper--1 {
    top: -8vmin;
    transform: scale(0.7);
    animation: flower__g-front__leaf-ans 1s 5.5s ease-in backwards !important;
  }

  .flower__g-front__leaf-wrapper--2 {
    top: -8vmin;
    transform: rotateY(-180deg) scale(0.7) !important;
    animation: flower__g-front__leaf-left-ans-2 1s 4.6s ease-in backwards !important;
  }

  .flower__g-front__leaf-wrapper--3 {
    top: -3vmin;
    animation: flower__g-front__leaf-ans 1s 4.6s ease-in backwards;
  }

  .flower__g-front__leaf-wrapper--4 {
    top: -3vmin;
    transform: rotateY(-180deg) scale(0.9) !important;
    animation: flower__g-front__leaf-left-ans-2 1s 4.6s ease-in backwards !important;
  }

  .flower__g-front__leaf {
    width: 10vmin;
    height: 10vmin;
    border-radius: 100% 0% 0% 100% / 100% 100% 0% 0%;
    box-shadow: inset 0 2px 1vmin hsla(184, 97%, 58%, 0.2);
    background-image: linear-gradient(to bottom left, transparent, rgba(0, 0, 0, 0.8)),
      linear-gradient(to bottom right, #159faa 50%, transparent 50%, transparent);
    -webkit-mask-image: linear-gradient(to bottom right, #159faa 50%, transparent 50%, transparent);
    mask-image: linear-gradient(to bottom right, #159faa 50%, transparent 50%, transparent);
  }

  .grow-ans {
    animation: grow-ans 2s var(--d) backwards;
  }

  .growing-grass {
    animation: growing-grass-ans 1s 2s backwards;
  }

  /* Animations */
  @keyframes grow-ans {
    0% {
      transform: scale(0);
      opacity: 0;
    }
  }

  @keyframes light-ans {
    0% {
      opacity: 0;
      transform: translateY(0vmin);
    }
    25% {
      opacity: 1;
      transform: translateY(-5vmin) translateX(-2vmin);
    }
    50% {
      opacity: 1;
      transform: translateY(-15vmin) translateX(2vmin);
      filter: blur(0.2vmin);
    }
    75% {
      transform: translateY(-20vmin) translateX(-2vmin);
      filter: blur(0.2vmin);
    }
    100% {
      transform: translateY(-30vmin);
      opacity: 0;
      filter: blur(1vmin);
    }
  }

  @keyframes moving-flower-1 {
    0%, 100% {
      transform: rotate(2deg);
    }
    50% {
      transform: rotate(-2deg);
    }
  }

  @keyframes blooming-leaf-right {
    0% {
      transform-origin: left;
      transform: rotate(70deg) rotateY(30deg) scale(0);
    }
  }

  @keyframes blooming-leaf-left {
    0% {
      transform-origin: right;
      transform: rotate(-70deg) rotateY(30deg) scale(0);
    }
  }

  @keyframes grow-flower-tree {
    0% {
      height: 0;
      border-radius: 1vmin;
    }
  }

  @keyframes blooming-flower {
    0% {
      transform: scale(0);
    }
  }

  @keyframes moving-grass {
    0%, 100% {
      transform: rotate(-48deg) rotateY(40deg);
    }
    50% {
      transform: rotate(-50deg) rotateY(40deg);
    }
  }

  @keyframes growing-grass-ans {
    0% {
      transform: scale(0);
    }
  }

  @keyframes growing-grass-ans--1 {
    0% {
      transform-origin: bottom left;
      transform: rotate(-20deg) scale(0);
    }
  }

  @keyframes growing-grass-ans--2 {
    0% {
      transform-origin: bottom right;
      transform: rotate(10deg) scale(0);
    }
  }

  @keyframes growing-grass-ans--3 {
    0% {
      transform-origin: bottom left;
      transform: rotate(-18deg) rotateX(-20deg) scale(0);
    }
  }

  @keyframes growing-grass-ans--4 {
    0% {
      transform-origin: bottom right;
      transform: rotate(2deg) scale(0);
    }
  }

  @keyframes growing-grass-ans--5 {
    0% {
      transform-origin: bottom left;
      transform: rotate(-24deg) rotateX(-20deg) scale(0);
    }
  }

  @keyframes growing-grass-ans--6 {
    0% {
      transform-origin: bottom right;
      transform: rotate(10deg) scale(0);
    }
  }

  @keyframes growing-grass-ans--7 {
    0% {
      transform-origin: bottom left;
      transform: rotate(-10deg) scale(0);
    }
  }

  @keyframes growing-grass-ans--8 {
    0% {
      transform-origin: bottom right;
      transform: rotate(10deg) scale(0);
    }
  }

  @keyframes flower-g-long-ans {
    0%, 100% {
      transform: rotate(-30deg) rotateY(-20deg);
    }
    50% {
      transform: rotate(-32deg) rotateY(-20deg);
    }
  }

  @keyframes flower-g-right-ans {
    0%, 100% {
      transform: rotate(20deg);
    }
    50% {
      transform: rotate(24deg) rotateX(-20deg);
    }
  }

  @keyframes flower__g-front-ans {
    0%, 100% {
      transform: rotate(-28deg) rotateY(30deg) scale(1.04);
    }
    50% {
      transform: rotate(-35deg) rotateY(40deg) scale(1.04);
    }
  }

  @keyframes flower__g-front__leaf-ans {
    0% {
      transform: rotate(10deg) scale(0);
    }
  }

  @keyframes flower__g-front__leaf-left-ans {
    0% {
      transform: rotateY(-180deg) rotate(5deg) scale(0);
    }
  }

  @keyframes flower__g-front__leaf-left-ans-2 {
    0% {
      transform: rotateY(-180deg) scale(0);
    }
  }

  /* Theme-aware colors */
  :global([data-theme="light"]) .flower__leaf {
    background-color: #a7ffee;
    background-image: linear-gradient(to top, #54b8aa, #a7ffee);
  }

  :global([data-theme="light"]) .flower__leaf--4 {
    background-image: linear-gradient(to top, #39c6d6, #a7ffee);
  }

  :global([data-theme="light"]) .flower__white-circle::after {
    background-image: linear-gradient(90deg, rgb(255, 235, 18), rgb(255, 206, 0));
  }

  :global([data-theme="light"]) .flower__line {
    background-image: linear-gradient(
        to left,
        rgb(0, 0, 0, 0.2),
        transparent,
        rgba(255, 255, 255, 0.2)
      ),
      linear-gradient(to top, transparent 10%, #14757a, #39c6d6);
  }

  :global([data-theme="light"]) .flower__line__leaf {
    background-image: linear-gradient(to top, rgba(20, 117, 122, 0.4), #39c6d6);
  }

  :global([data-theme="light"]) .flower__grass {
    --c: #159faa;
  }

  :global([data-theme="light"]) .flower__g-long {
    --c: #159faa;
  }

  :global([data-theme="light"]) .flower__g-right .leaf {
    border-left: 2vmin solid #079097;
  }

  :global([data-theme="light"]) .flower__g-front__line {
    background-image: linear-gradient(to top, transparent, #079097, transparent 100%);
  }

  :global([data-theme="light"]) .flower__g-front__leaf {
    background-image: linear-gradient(to bottom left, transparent, rgba(0, 0, 0, 0.8)),
      linear-gradient(to bottom right, #159faa 50%, transparent 50%, transparent);
  }

  /* Dark theme colors - softer, more muted */
  :global([data-theme="dark"]) .flower__leaf {
    background-color: #7dd4c8;
    background-image: linear-gradient(to top, #3d8b7f, #7dd4c8);
  }

  :global([data-theme="dark"]) .flower__leaf--4 {
    background-image: linear-gradient(to top, #2a8a9a, #7dd4c8);
  }

  :global([data-theme="dark"]) .flower__white-circle {
    background-color: rgba(255, 255, 255, 0.9);
  }

  :global([data-theme="dark"]) .flower__white-circle::after {
    background-image: linear-gradient(90deg, rgb(200, 180, 50), rgb(180, 160, 40));
  }

  :global([data-theme="dark"]) .flower__line {
    background-image: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.15),
        transparent,
        rgba(0, 0, 0, 0.2)
      ),
      linear-gradient(to top, transparent 10%, #0f5a5e, #2a8a9a);
  }

  :global([data-theme="dark"]) .flower__line__leaf {
    background-image: linear-gradient(to top, rgba(15, 90, 94, 0.4), #2a8a9a);
  }

  :global([data-theme="dark"]) .flower__grass {
    --c: #0f7a84;
  }

  :global([data-theme="dark"]) .flower__g-long {
    --c: #0f7a84;
  }

  :global([data-theme="dark"]) .flower__g-right .leaf {
    border-left: 2vmin solid #065a5f;
  }

  :global([data-theme="dark"]) .flower__g-front__line {
    background-image: linear-gradient(to top, transparent, #065a5f, transparent 100%);
  }

  :global([data-theme="dark"]) .flower__g-front__leaf {
    background-image: linear-gradient(to bottom left, transparent, rgba(0, 0, 0, 0.6)),
      linear-gradient(to bottom right, #0f7a84 50%, transparent 50%, transparent);
  }

  :global([data-theme="dark"]) .flower__light {
    background-color: rgb(180, 200, 100);
  }

  :global([data-theme="dark"]) .flower__light:nth-child(odd) {
    background-color: #5dbcc7;
  }

  /* Sunset theme colors - warm oranges and pinks */
  :global([data-theme="sunset"]) .flower__leaf {
    background-color: #ffb3ba;
    background-image: linear-gradient(to top, #ff8a8a, #ffb3ba);
  }

  :global([data-theme="sunset"]) .flower__leaf--4 {
    background-image: linear-gradient(to top, #ff6b6b, #ffb3ba);
  }

  :global([data-theme="sunset"]) .flower__white-circle {
    background-color: rgba(255, 240, 220, 0.95);
  }

  :global([data-theme="sunset"]) .flower__white-circle::after {
    background-image: linear-gradient(90deg, rgb(255, 180, 100), rgb(255, 150, 80));
  }

  :global([data-theme="sunset"]) .flower__line {
    background-image: linear-gradient(
        to left,
        rgba(255, 200, 150, 0.2),
        transparent,
        rgba(255, 150, 100, 0.2)
      ),
      linear-gradient(to top, transparent 10%, #d97a5a, #ff8a8a);
  }

  :global([data-theme="sunset"]) .flower__line__leaf {
    background-image: linear-gradient(to top, rgba(217, 122, 90, 0.4), #ff8a8a);
  }

  :global([data-theme="sunset"]) .flower__grass {
    --c: #e88873;
  }

  :global([data-theme="sunset"]) .flower__g-long {
    --c: #e88873;
  }

  :global([data-theme="sunset"]) .flower__g-right .leaf {
    border-left: 2vmin solid #d97a5a;
  }

  :global([data-theme="sunset"]) .flower__g-front__line {
    background-image: linear-gradient(to top, transparent, #d97a5a, transparent 100%);
  }

  :global([data-theme="sunset"]) .flower__g-front__leaf {
    background-image: linear-gradient(to bottom left, transparent, rgba(217, 122, 90, 0.6)),
      linear-gradient(to bottom right, #e88873 50%, transparent 50%, transparent);
  }

  :global([data-theme="sunset"]) .flower__light {
    background-color: rgb(255, 200, 150);
  }

  :global([data-theme="sunset"]) .flower__light:nth-child(odd) {
    background-color: #ffb3ba;
  }

  /* Mobile adjustments */
  @media (max-width: 640px) {
    .flowers {
      transform: scale(0.18);
    }

    .flower-animation-container {
      min-height: 120px;
    }

    .flower-credit {
      font-size: 10px;
      padding: 6px 12px;
    }
  }
</style>

<script>
  // Start animation when component is visible (triggered by AOS)
  document.addEventListener('DOMContentLoaded', () => {
    const flowerContainer = document.querySelector('.flower-animation-container');
    
    if (flowerContainer) {
      // Add a small delay to ensure AOS has initialized
      setTimeout(() => {
        flowerContainer.classList.add('animation-started');
      }, 100);
    }
  });
</script>

