---
import RecipeList from './RecipeList';
---

<BaseHead />

<html lang="en" class="selection:bg-secondary selection:text-secondary">
  <head>
    <title>Recipe Blog</title>
  </head>

  <body class="bg-primary">
    <RecipeList />
    <script src="https://unpkg.com/mailgo@0.12.2/dist/mailgo.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
